body{
    background: #0e0d0d;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    padding: 20px;
    display: flex;
    justify-content: center;
}
.container{
max-width:1000px;
background-color: #290807;
padding: 30px;
border-radius: 15px;
text-align: center;
border: 2px solid #550300;
}

img{
width:100%;
border-radius: 10px;
margin-bottom:20px;
}
/* Quita los puntos de la lista y los pone en fila */
nav ul {
    list-style: none;
    display:flex;
    gap: 40px; /* Espacio entre botones */
}
nav a {
    text-decoration: none;
    color: #f5f5f5;
    font-weight: bold;
}


nav a:hover {
    color: #502c2c;
}
footer {
    background: transparent;
    padding: 30px;
    color: #f5f5f5;
    text-transform: uppercase;
    letter-spacing: 3px; /* Estilo elegante */
    border: 2px solid rgb(165, 65, 65);
}
