<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos</title>
</head>
<link rel="stylesheet" href="../Style.CSS">
<body>
    <div class="container">
<header>
    <nav class="Menu">
        <ul>
            <li><a href="../Index.html">Inicio</a></li>
            <li><a href="Producto.html">Producto</a></li>
            <li><a href="Servicio.html">Servicio</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav>
</header>
<main>
    <img src="../Img/img_contactos.jpeg" alt="">
    <div class="main_principal">
        <p>Puedes contactarnos ahora via whatsapp, siempre estamos para ti</p>
    </div>
</main>
<footer>Pie de pagina</footer>
    </div>
</body>
</html>