<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Un producto</title>
</head>
<link rel="stylesheet" href="../Style.CSS">

<body>
    <div class="container">
<header>
    <nav Class="Menu">
<ul>
    <li><a href="../Index.html" >Inicio</a></li>
    <li><a href="#">Producto</a></li>
    <li><a href="Servicio.html">Servicio</a></li>
    <li><a href="Contacto.html">Contacto</a></li>
</ul>
    </nav>
</header>
<main>
<img src="../Img/img_productos.jpeg" alt="">
<div class="main_Principal">
    <p>tenemos un superrr descuento solo para ti (*/ω＼*)</p>
</div>
</main>
<footer>pie de pagina</del></footer>
    </div>
</body>
</html>