<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuestro Servicio</title>
</head>
<link rel="stylesheet" href="../Style.CSS">
<body>
    <div class="container">
<header>
    <nav class="menu">
        <ul>
 <li><a href="../index.html">Inicio</a> </li>
<li><a href="Producto.html">Producto</a></li>
<li><a href="#">Servicio</a></li>
<li><a href="Contacto.html">Contacto</a></li>
        </ul>
    </nav>
</header>
<main>
<img src="../Img/img_servicios.jpeg" alt="">
<div class="main_principal">
    <p>¡¡¡Nuestros servicios estan 24/7 para ti, sigue todas nuestras paginas para enterarte de mas novedades!!!</p>
</div>

</main>
<footer>pie de pagina</footer>
    </div>
</body>
</html>